*{
    margin: 0;
    font-family: 'Norican', cursive;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn-color{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FF5959;
    padding: 20px;
    border: none;
    border-radius: 7px;
}

.primary-btn-color:hover{
    background-color: #cd4646;
}

/* Header Styles */
.banner{
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('/images/donation6.jpg') ;
    height: 669px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    
    
}


.header-items{
    position: absolute; 
    margin: 174px 307px 175px;


}

.banner-heading{
    text-align: center;
    color: white;
    font-size: 70px ;
    margin-bottom: 20px;
}

.banner-description{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    word-spacing: 1px;
    letter-spacing: .1px;
    margin-bottom: 25px;
}

/* .donate-btn{
    
} */

